aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
asgiref==3.11.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==6.0
django-webpush==0.3.6
frozenlist==1.8.0
gunicorn==23.0.0
http_ece==1.2.1
idna==3.11
multidict==6.7.0
packaging==25.0
pillow==12.1.0
propcache==0.4.1
psycopg==3.3.2
psycopg-binary==3.3.2
py-vapid==1.9.4
pycparser==2.23
pywebpush==2.2.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
yarl==1.22.0
